<div class="content_p android-content mdl-layout__content">
  <div class="contenido-in contenido-kpis">
    <h2>Proyectos del Área</h2>
    <div class=" mdl-grid mdl-grid--no-spacing">
      <% @proyectos.each do |proyecto| %>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-kpis mdl-card-index-ntc">
              <div class="index-noticia">
                <div class="mdl-card__title mdl-card__title-kpi">
                  <%= image_tag(proyecto.imagen_url.to_s) %>
                </div>
                <div class="mdl-card__supporting-text">
                  <h3 class="mdl-card__title-text"><span><%= proyecto.titulo %></span></h3>
                  <br>
                  <div class="descp_noticia">
                    <%= proyecto.descripcion %>
                  </div>
                </div>
              </div>

              <div class="mdl-card__actions mdl-card--border">
                <div class="boton_act_kpis">
                  <%= link_to  edit_proyecto_path(proyecto), id:"edit_proyecto_#{proyecto.id}", class: "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect bnt_act" do%>
                      <i class="material-icons">edit</i>
                  <% end %>
                  <div class="mdl-tooltip" data-mdl-for="edit_proyecto_<%=proyecto.id%>">
                    Editar Proyecto:  <strong><%=proyecto.titulo%></strong>
                  </div>
                  <%= button_to proyecto_path(proyecto),id:"delete_proyecto_#{proyecto.id}", class:"mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect bnt_act",:method => "delete" do%>
                      <i class="material-icons">delete</i>
                  <% end %>
                  <div class="mdl-tooltip" data-mdl-for="delete_proyecto_<%=proyecto.id%>">
                    Eliminar Proyecto:  <strong><%=proyecto.titulo%></strong>
                  </div>
                  <%= link_to proyecto,id:"ver_proyecto_#{proyecto.id}", class:"mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect bnt_act" do%>
                      <i class="material-icons">visibility</i>
                  <% end %>
                  <div class="mdl-tooltip" data-mdl-for="ver_proyecto_<%=proyecto.id%>">
                    Ver Proyecto:  <strong><%=proyecto.titulo%></strong>
                  </div>
                </div>
              </div>

            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>
<a href="/proyectos/new" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Agregar Proyecto</a>
