<p id="notice"><%= notice %></p>

<h1>Recargas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Clientes</th>
      <th>Recargas</th>
      <th>Bs total</th>
      <th>Bs total iva12</th>
      <th>Bs total iva10</th>
      <th>Fisica</th>
      <th>Fisica bsf</th>
      <th>Fisica bsf siniva12</th>
      <th>Fisica bsf siniva10</th>
      <th>P2p</th>
      <th>P2p bsf</th>
      <th>P2p bsf siniva12</th>
      <th>P2p bsf siniva10</th>
      <th>Gre</th>
      <th>Gre bsf</th>
      <th>Gre bsf siniva12</th>
      <th>Gre bsf siniva10</th>
      <th>Bancaria</th>
      <th>Bancaria bsf</th>
      <th>Bancaria bsf siniva12</th>
      <th>Bancaria bsf siniva10</th>
      <th>Mmo</th>
      <th>Mmo bsf</th>
      <th>Mmo bsf siniva12</th>
      <th>Mmo bsf siniva10</th>
      <th>Transferencia</th>
      <th>Transferencia bsf</th>
      <th>Transferencia bsf siniva12</th>
      <th>Transferencia bsf siniva10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recargas.each do |recarga| %>
      <tr>
        <td><%= recarga.FECHA %></td>
        <td><%= recarga.CLIENTES %></td>
        <td><%= recarga.RECARGAS %></td>
        <td><%= recarga.BS_TOTAL %></td>
        <td><%= recarga.BS_TOTAL_IVA12 %></td>
        <td><%= recarga.BS_TOTAL_IVA10 %></td>
        <td><%= recarga.FISICA %></td>
        <td><%= recarga.FISICA_BSF %></td>
        <td><%= recarga.FISICA_BSF_SINIVA12 %></td>
        <td><%= recarga.FISICA_BSF_SINIVA10 %></td>
        <td><%= recarga.P2P %></td>
        <td><%= recarga.P2P_BSF %></td>
        <td><%= recarga.P2P_BSF_SINIVA12 %></td>
        <td><%= recarga.P2P_BSF_SINIVA10 %></td>
        <td><%= recarga.GRE %></td>
        <td><%= recarga.GRE_BSF %></td>
        <td><%= recarga.GRE_BSF_SINIVA12 %></td>
        <td><%= recarga.GRE_BSF_SINIVA10 %></td>
        <td><%= recarga.BANCARIA %></td>
        <td><%= recarga.BANCARIA_BSF %></td>
        <td><%= recarga.BANCARIA_BSF_SINIVA12 %></td>
        <td><%= recarga.BANCARIA_BSF_SINIVA10 %></td>
        <td><%= recarga.MMO %></td>
        <td><%= recarga.MMO_BSF %></td>
        <td><%= recarga.MMO_BSF_SINIVA12 %></td>
        <td><%= recarga.MMO_BSF_SINIVA10 %></td>
        <td><%= recarga.TRANSFERENCIA %></td>
        <td><%= recarga.TRANSFERENCIA_BSF %></td>
        <td><%= recarga.TRANSFERENCIA_BSF_SINIVA12 %></td>
        <td><%= recarga.TRANSFERENCIA_BSF_SINIVA10 %></td>
        <td><%= link_to 'Show', recarga %></td>
        <td><%= link_to 'Edit', edit_recarga_path(recarga) %></td>
        <td><%= link_to 'Destroy', recarga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recarga', new_recarga_path %>
