<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @recarga.FECHA %>
</p>

<p>
  <strong>Clientes:</strong>
  <%= @recarga.CLIENTES %>
</p>

<p>
  <strong>Recargas:</strong>
  <%= @recarga.RECARGAS %>
</p>

<p>
  <strong>Bs total:</strong>
  <%= @recarga.BS_TOTAL %>
</p>

<p>
  <strong>Bs total iva12:</strong>
  <%= @recarga.BS_TOTAL_IVA12 %>
</p>

<p>
  <strong>Bs total iva10:</strong>
  <%= @recarga.BS_TOTAL_IVA10 %>
</p>

<p>
  <strong>Fisica:</strong>
  <%= @recarga.FISICA %>
</p>

<p>
  <strong>Fisica bsf:</strong>
  <%= @recarga.FISICA_BSF %>
</p>

<p>
  <strong>Fisica bsf siniva12:</strong>
  <%= @recarga.FISICA_BSF_SINIVA12 %>
</p>

<p>
  <strong>Fisica bsf siniva10:</strong>
  <%= @recarga.FISICA_BSF_SINIVA10 %>
</p>

<p>
  <strong>P2p:</strong>
  <%= @recarga.P2P %>
</p>

<p>
  <strong>P2p bsf:</strong>
  <%= @recarga.P2P_BSF %>
</p>

<p>
  <strong>P2p bsf siniva12:</strong>
  <%= @recarga.P2P_BSF_SINIVA12 %>
</p>

<p>
  <strong>P2p bsf siniva10:</strong>
  <%= @recarga.P2P_BSF_SINIVA10 %>
</p>

<p>
  <strong>Gre:</strong>
  <%= @recarga.GRE %>
</p>

<p>
  <strong>Gre bsf:</strong>
  <%= @recarga.GRE_BSF %>
</p>

<p>
  <strong>Gre bsf siniva12:</strong>
  <%= @recarga.GRE_BSF_SINIVA12 %>
</p>

<p>
  <strong>Gre bsf siniva10:</strong>
  <%= @recarga.GRE_BSF_SINIVA10 %>
</p>

<p>
  <strong>Bancaria:</strong>
  <%= @recarga.BANCARIA %>
</p>

<p>
  <strong>Bancaria bsf:</strong>
  <%= @recarga.BANCARIA_BSF %>
</p>

<p>
  <strong>Bancaria bsf siniva12:</strong>
  <%= @recarga.BANCARIA_BSF_SINIVA12 %>
</p>

<p>
  <strong>Bancaria bsf siniva10:</strong>
  <%= @recarga.BANCARIA_BSF_SINIVA10 %>
</p>

<p>
  <strong>Mmo:</strong>
  <%= @recarga.MMO %>
</p>

<p>
  <strong>Mmo bsf:</strong>
  <%= @recarga.MMO_BSF %>
</p>

<p>
  <strong>Mmo bsf siniva12:</strong>
  <%= @recarga.MMO_BSF_SINIVA12 %>
</p>

<p>
  <strong>Mmo bsf siniva10:</strong>
  <%= @recarga.MMO_BSF_SINIVA10 %>
</p>

<p>
  <strong>Transferencia:</strong>
  <%= @recarga.TRANSFERENCIA %>
</p>

<p>
  <strong>Transferencia bsf:</strong>
  <%= @recarga.TRANSFERENCIA_BSF %>
</p>

<p>
  <strong>Transferencia bsf siniva12:</strong>
  <%= @recarga.TRANSFERENCIA_BSF_SINIVA12 %>
</p>

<p>
  <strong>Transferencia bsf siniva10:</strong>
  <%= @recarga.TRANSFERENCIA_BSF_SINIVA10 %>
</p>

<%= link_to 'Edit', edit_recarga_path(@recarga) %> |
<%= link_to 'Back', recargas_path %>
