<div  class="content_p android-content mdl-layout__content">
  <!-- Contenido -->
  <h2>Mi cuenta</h2>
  <div class="contenido-in contenido-menu  mdl-shadow--2dp">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp section-us">
      <header class="section__play-btn mdl-cell mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--4-col-phone mdl-color-text--white header-us">
        <%= "Cod: "+@usuario.codigo_empleado %>
        </br>
        <%= @usuario.role.nombre %>
        </br>
        <%= image_tag "admin.png", class:"icon_rol"%>
      </header>
      <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone cont_info">
        <div class="mdl-card__supporting-text mdl-card__supporting-text-im">
          <h5>
            <%= "Nombre: "+@usuario.nombre+" "+@usuario.apellido %>
          </h5>
          <p>
            <%= "Cargo: "+@usuario.cargo %>
          </p>
        </div>
        <div class="mdl-card__actions us_cart_actions">
          <a href="#" class="mdl-button us_detalle">Más detalles</a>
          <div class="desplegable">
            <p>
              <%= "Usuario: "+@usuario.usuario %>
              </br>
              <%= "Área: "+@usuario.area %>
              </br>
              <%= "Gerencia: "+@usuario.gerencia %>
              </br>
              <%= "Télefono: "+@usuario.telefono %>
              </br>
              <%= "Correo: "+@usuario.correo %>
              </br>
              <%= "Supervisor: "+@usuario.supervisor %>
              </br>
              <%= "Justificacioń: "+@usuario.justificacion %>
              </br>
              <%= "Estatus: "+@usuario.estatus %>
            </p>
          </div>
        </div>

        <div class="cont_bottom">
          <%= link_to  edit_usuario_path(@usuario), class: "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" do%>
              <i class="material-icons">edit</i>
          <% end %>
        </div>
      </div>
    </section>

    <!-- Listado de indicadores/casos recientes -->
    </br>
    <section class="mdl-grid mdl-grid--no-spacing">
      <div class="indicadores_rec mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <h5>Indicadores Recientes</h5>

        <div class="demo-card-square card-menu mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand card-menu">
            <h2 class="mdl-card__title-text">Update</h2>
          </div>
        </div>



      </div>

      <div class="casos_rec mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <h5>Casos Recientes</h5>
      </div>
    </section>


    <!-- Listado de usuarios pendientes por aceptar y asignar rol -->
    </br>
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="usuario_pendientes mdl-cell mdl-cell--12-col">
        <h5>Usuarios por Aprobar</h5>
        <ul class="demo-list-three mdl-list">
          <% @usuarios_pendientes.each do |user| %>
              <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content menu_list_user_p">
                  <i class="material-icons  mdl-list__item-avatar">person</i>
                  <span><%= user.nombre+" "+ user.apellido %></span>
                  <span class="mdl-list__item-text-body">
                    <strong>Código de empleado: </strong><%= user.codigo_empleado%></br><strong> Código de empleado: </strong>
                    <%= "Gerencia: "+user.gerencia+", Área: "+user.area+", Cargo: "+user.cargo%></br>

                    character, Bob stars in his own show now, called "Better Call Saul".
                  </span>
                </span>
               <span class="mdl-list__item-secondary-action menu_list_user_s">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                  <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
                </label>
               </span>
              </li>


          <% end %>

        </ul>
      </div>
    </section>





  </div>

</div>

