<script>
  $(document).ready(function() {
    $.get("http://localhost:9200/portal_mercadeo/recargas/_search?q=TERMINAL:SMARTPHONE", function(data) {
      console.log("La DATA "+data);
    });
    // Habilitar - Deshabilitar usuario
    $('.mdl-switch__input').click(function() {
      var rol_id = $('#'+$(this).val()).val();
      if ($(this).parent().hasClass("is-checked")) {
        console.log("Te esta entrando en el if "+$(this).val());
        $.get("/usuarios/"+$(this).val()+".json", function(data) {
        });
      } else {
        $.get("/usuarios/"+$(this).val()+".json?checked=true&rol_id="+rol_id, function(data) {
        });
      }
    });
  } );

  // Habilitar boton
  function me(e) {
    var id = $(e).attr("id");
    var val =  $(e).val();
    var check = $("#estatus_usuario_"+id);
    if(val == ""){
      $(check).prop("disabled", true);
    }else{
      $(check).prop("disabled", false);
    }
  }
</script>

<div  class="content_p android-content mdl-layout__content">
  <!-- Contenido -->
  <h2>Mi cuenta</h2>
  <div class="contenido-in contenido-menu  mdl-shadow--2dp">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp section-us">
      <header class="section__play-btn mdl-cell mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--4-col-phone mdl-color-text--white header-us">
        <%= "Cod: "+@usuario.codigo_empleado %>
        </br>
        <%= @usuario.role.nombre %>
        </br>
        <%= image_tag "admin.png", class:"icon_rol"%>
      </header>
      <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone cont_info">
        <div class="mdl-card__supporting-text mdl-card__supporting-text-im">
          <h5>
            <strong><%= "Nombre: "+@usuario.nombre+" "+@usuario.apellido %></strong>
          </h5>
          <p>
            <%= "Cargo: "+@usuario.cargo %>
          </p>
        </div>
        <div class="mdl-card__actions us_cart_actions">
          <a href="#" class="mdl-button us_detalle">Más detalles</a>
          <div class="desplegable">
            <p>
              <%= "Usuario: "+@usuario.usuario %>
              </br>
              <%= "Área: "+@usuario.area %>
              </br>
              <%= "Gerencia: "+@usuario.gerencia %>
              </br>
              <%= "Télefono: "+@usuario.telefono %>
              </br>
              <%= "Correo: "+@usuario.correo %>
              </br>
              <%= "Supervisor: "+@usuario.supervisor %>
              </br>
              <%= "Justificacioń: "+@usuario.justificacion %>
              </br>
              <%= "Estatus: "+@usuario.estatus.to_s %>
            </p>
          </div>
        </div>

        <div class="cont_bottom">
          <%= link_to  edit_usuario_path(@usuario), class: "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" do%>
              <i class="material-icons">edit</i>
          <% end %>
        </div>
      </div>
    </section>

    <!-- Listado de indicadores/casos recientes -->
    </br>
    <section class="mdl-grid mdl-grid--no-spacing">
      <div class="indicadores_rec mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <h4 class="h4-pb">Indicadores Recientes</h4>
        <div class="mdl-grid">
          <% @indicadores_recientes.each do |indicador| %>
            <div class="mdl-cell mdl-cell--10-col">
              <%=indicador.nombre %>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
              Estatus
            </div>
          <% end %>

        </div>
        </br>
        <a href="/kpis" class="mdl-button link_admin">Administrar Indicadores</a>
      </div>
      <div class="casos_rec mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <h4  class="h4-pb">Casos Recientes</h4>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--10-col">
            CASOS
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            ESTATUS
          </div>
        </div>
        <a href="/casos" class="mdl-button link_admin">Administrar Casos</a>
      </div>
    </section>


    <!-- Listado de usuarios pendientes por aceptar y asignar rol -->
    </br>
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="usuario_pendientes mdl-cell mdl-cell--12-col">
        <h4 class="h4-pb">Usuarios por Aprobar</h4>
        <h5><strong>Nota: Si desea aprobar un usuario, primero debe seleccionar el Rol que tendrá dicho usuario, luego haga uso del switch para aprobar.</strong></h5>
        <ul class="demo-list-three mdl-list">
          <% @usuarios_pendientes.each do |usuario| %>
              <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content menu_list_user_p">
                  <i class="material-icons  mdl-list__item-avatar">person</i>
                  <span><%= usuario.nombre+" "+ usuario.apellido %></span>
                  <span class="mdl-list__item-text-body">
                    <strong>Código de empleado: </strong><%= usuario.codigo_empleado%>
                    <strong>, Cargo: </strong><%= usuario.cargo%>
                    <strong>, Justificación: </strong><%= usuario.justificacion%>
                  </span>
                </span>
                <span class="mdl-list__item-secondary-action">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--11-col">
                  <%=collection_select "","#{usuario.id}", Role.where("id != 8"), :id, :nombre, {:prompt => ''}, :class => 'mdl-textfield__input role_id', :required => "required", :onclick => "me(this)" %>
                    <label class="mdl-textfield__label" for="role_id">Rol</label>
                </div>
                </span>

               <span class="mdl-list__item-secondary-action menu_list_user_s">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="<%= "estatus_usuario_"+usuario.id.to_s%>">
                  <%=check_box_tag "estatus_usuario_#{usuario.id}", usuario.id, usuario.estatus, class: "mdl-switch__input", :disabled => true %>
                </label>
               </span>
              </li>
          <% end %>
        </ul>
        <a href="/usuarios" class="mdl-button link_admin">Administrar Usuarios</a>
      </div>
    </section>

  </div>

</div>

