<%= form_with(model: comentario, local: true) do |form| %>
  <% if comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha, id: :comentario_fecha, :value => Time.now + 8 %>
    <% p "hola" %>
    <% p Time.now %>
    <% p "hola" %>
  </div>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :comentario_texto, :value => "heyhey" %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor, id: :comentario_autor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
