<div class="content_p android-content mdl-layout__content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @comentario.texto %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @comentario.autor %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
</div>