<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :usuario, id: :user_usuario %>
  </div>

  <div class="field">
    <%= form.label :codigo_empleado %>
    <%= form.text_field :codigo_empleado, id: :user_codigo_empleado %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area, id: :user_area %>
  </div>

  <div class="field">
    <%= form.label :gerencia %>
    <%= form.text_field :gerencia, id: :user_gerencia %>
  </div>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.text_field :cargo, id: :user_cargo %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :user_correo %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :user_telefono %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :user_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :user_apellido %>
  </div>

  <div class="field">
    <%= form.label :supervisor %>
    <%= form.text_field :supervisor, id: :user_supervisor %>
  </div>

  <div class="field">
    <%= form.label :justificacion %>
    <%= form.text_field :justificacion, id: :user_justificacion %>
  </div>

  <div class="field">
    <%= form.label :estatus %>
    <%= form.text_field :estatus, id: :user_estatus %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :user_password_digest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
