<div class="android-screen-section mdl-typography--text-center grip-noticias">
  <a name="noticias"></a>
  <div class="mdl-typography--display-1-color-contrast titulo-noticias">Entérate</div>
  <% publicaciones = Publicacion.all  %>

    <div class="mdl-grid">
        <div id="Carousel" class="carousel slide">

          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
          </ol>

          <!-- Carousel items -->
          <div class="carousel-inner">

            <div class="item active">
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-kpis mdl-card-noticias">
                    <div class="mdl-card__title mdl-card__title-kpi">
                      <%= image_tag(publicaciones[0].imagen_url.to_s) %>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <h3 class="mdl-card__title-text"><span><%= publicaciones[0].titulo %></span></h3>
                      <br>
                      <div class="descp_noticia">
                        <%= publicaciones[0].descripcion %>
                      </div>
                      <br>
                      <%= link_to publicaciones[0],id:"ver_ntc_#{publicaciones[1].id}", class:"ver_noticia" do%>
                          VER NOTICIA
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--6-col">
                  <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-kpis mdl-card-noticias">
                    <div class="mdl-card__title mdl-card__title-kpi">
                      <%= image_tag(publicaciones[1].imagen_url.to_s) %>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <h3 class="mdl-card__title-text"><span><%= publicaciones[1].titulo %></span></h3>
                      <br>
                      <div class="descp_noticia">
                        <%= publicaciones[1].descripcion %>
                      </div>
                      <br>
                      <%= link_to publicaciones[1],id:"ver_ntc_#{publicaciones[1].id}", class:"ver_noticia" do%>
                          VER NOTICIA
                      <% end %>
                    </div>
                  </div>
                </div>

            </div><!--.item-->


            <div class="item">
              <div class="mdl-cell mdl-cell--6-col">
                <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-kpis mdl-card-noticias">
                  <div class="mdl-card__title mdl-card__title-kpi">
                    <%= image_tag(publicaciones[0].imagen_url.to_s) %>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <h3 class="mdl-card__title-text"><span><%= publicaciones[0].titulo %></span></h3>
                    <br>
                    <div class="descp_noticia">
                      <%= publicaciones[0].descripcion %>
                    </div>
                    <br>
                    <%= link_to publicaciones[0],id:"ver_ntc_#{publicaciones[1].id}", class:"ver_noticia" do%>
                        VER NOTICIA
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--6-col">
                <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-kpis mdl-card-noticias">
                  <div class="mdl-card__title mdl-card__title-kpi">
                    <%= image_tag(publicaciones[1].imagen_url.to_s) %>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <h3 class="mdl-card__title-text"><span><%= publicaciones[1].titulo %></span></h3>
                    <br>
                    <div class="descp_noticia">
                      <%= publicaciones[1].descripcion %>
                    </div>
                    <br>
                    <%= link_to publicaciones[1],id:"ver_ntc_#{publicaciones[1].id}", class:"ver_noticia" do%>
                        VER NOTICIA
                    <% end %>
                  </div>
                </div>
              </div>

            </div><!--.item-->





          </div><!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel" class="left carousel-control"><i class="material-icons">chevron_left</i></a>
          <a data-slide="next" href="#Carousel" class="right carousel-control"><i class="material-icons">chevron_right</i></a>
        </div><!--.Carousel-->

    </div><!--.mdl-grip-->

</div>

