<div class="android-screen-section mdl-typography--text-center grip-noticias">
  <a name="noticias"></a>
  <div class="mdl-typography--display-1-color-contrast titulo-noticias">Entérate</div>
  <% publicaciones = Publicacion.all
    cant_slider = publicaciones.length / 2
    if (publicaciones.length % 2 != 0)
      cant_slider = cant_slider + 1
    end
    cant_noticia = publicaciones.length
    i = 0
    t = 0
  %>

  <div class="mdl-grid">
    <div id="CarouselNoticias" class="carousel slide">
      <ol class="carousel-indicators carousel-indicators-noticias">
        <% while t<cant_slider %>
            <% if t == 0 %>
                <li data-target="#CarouselNoticias" data-slide-to="<%= t %>" class="active"></li>
            <% else %>
                <li data-target="#CarouselNoticias" data-slide-to="<%=t %>"></li>
            <% end %>
            <% t = t+1 %>
        <% end %>
      </ol>

      <div class="carousel-inner">
        <% while i < cant_noticia %>
          <% if i == 0%>
            <% if (i+1) < cant_noticia %>
              <div class="item active">
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-noticia mdl-card-noticias">
                    <div class="mdl-card__title mdl-card__title-kpi">
                      <%= image_tag(publicaciones[i].imagen_url.to_s) %>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <h3 class="mdl-card__title-text"><span><%= publicaciones[i].titulo %></span></h3>
                      <br>
                      <div class="descp_noticia">
                        <%= publicaciones[i].descripcion %>
                      </div>
                      <br>
                      <%= link_to publicaciones[i],id:"ver_ntc_#{publicaciones[i].id}", class:"ver_noticia" do%>
                          VER NOTICIA
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--6-col">
                  <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-noticia mdl-card-noticias">
                    <div class="mdl-card__title mdl-card__title-kpi">
                      <%= image_tag(publicaciones[i+1].imagen_url.to_s) %>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <h3 class="mdl-card__title-text"><span><%= publicaciones[i+1].titulo %></span></h3>
                      <br>
                      <div class="descp_noticia">
                        <%= publicaciones[i+1].descripcion %>
                      </div>
                      <br>
                      <%= link_to publicaciones[i+1],id:"ver_ntc_#{publicaciones[i+1].id}", class:"ver_noticia" do%>
                          VER NOTICIA
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <% i = i+2 %>
            <% else %>
              <!-- Items -->
              <div class="item active">
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-noticia mdl-card-noticias">
                    <div class="mdl-card__title mdl-card__title-kpi">
                      <%= image_tag(publicaciones[i].imagen_url.to_s) %>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <h3 class="mdl-card__title-text"><span><%= publicaciones[i].titulo %></span></h3>
                      <br>
                      <div class="descp_noticia">
                        <%= publicaciones[i].descripcion %>
                      </div>
                      <br>
                      <%= link_to publicaciones[i],id:"ver_ntc_#{publicaciones[i].id}", class:"ver_noticia" do%>
                          VER NOTICIA
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <% i = i+2 %>
            <% end %>
          <% else %>
            <% if (i+1) < cant_noticia %>
                <div class="item">
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-noticia mdl-card-noticias">
                      <div class="mdl-card__title mdl-card__title-kpi">
                        <%= image_tag(publicaciones[i].imagen_url.to_s) %>
                      </div>
                      <div class="mdl-card__supporting-text">
                        <h3 class="mdl-card__title-text"><span><%= publicaciones[i].titulo %></span></h3>
                        <br>
                        <div class="descp_noticia">
                          <%= publicaciones[i].descripcion %>
                        </div>
                        <br>
                        <%= link_to publicaciones[i],id:"ver_ntc_#{publicaciones[i].id}", class:"ver_noticia" do%>
                            VER NOTICIA
                        <% end %>
                      </div>
                    </div>
                  </div>

                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-noticia mdl-card-noticias">
                      <div class="mdl-card__title mdl-card__title-kpi">
                        <%= image_tag(publicaciones[i+1].imagen_url.to_s) %>
                      </div>
                      <div class="mdl-card__supporting-text">
                        <h3 class="mdl-card__title-text"><span><%= publicaciones[i+1].titulo %></span></h3>
                        <br>
                        <div class="descp_noticia">
                          <%= publicaciones[i+1].descripcion %>
                        </div>
                        <br>
                        <%= link_to publicaciones[i+1],id:"ver_ntc_#{publicaciones[i+1].id}", class:"ver_noticia" do%>
                            VER NOTICIA
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% i = i+2 %>
            <% else %>
                <!-- Items -->
                <div class="item">
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-noticia mdl-card-noticias">
                      <div class="mdl-card__title mdl-card__title-kpi">
                        <%= image_tag(publicaciones[i].imagen_url.to_s) %>
                      </div>
                      <div class="mdl-card__supporting-text">
                        <h3 class="mdl-card__title-text"><span><%= publicaciones[i].titulo %></span></h3>
                        <br>
                        <div class="descp_noticia">
                          <%= publicaciones[i].descripcion %>
                        </div>
                        <br>
                        <%= link_to publicaciones[i],id:"ver_ntc_#{publicaciones[i].id}", class:"ver_noticia" do%>
                            VER NOTICIA
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% i = i+2 %>
            <% end %>
          <% end %>
        <% end %>

      </div>
      <a data-slide="prev" href="#CarouselNoticias" class="left carousel-control carousel-control-noticias"><i class="material-icons">chevron_left</i></a>
      <a data-slide="next" href="#CarouselNoticias" class="right carousel-control carousel-control-noticias"><i class="material-icons">chevron_right</i></a>
    </div>
  </div>
</div>
<script>
  $('#CarouselNoticias').carousel({
    interval: 7000
  });
</script>