<div class="content_p android-content mdl-layout__content">
  <div class="contenido-in contenido-kpis">
    <h2>Indicadores</h2>
    <div class=" mdl-grid mdl-grid--no-spacing">
      <% @kpis.each do |kpi| %>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-kpis">
              <div class="mdl-card__title mdl-card__title-kpi">
                <% unless kpi.nil? %>
                    <%= kpi.portada.html_safe %>
                <% end %>
                <h3 class="mdl-card__title-text"><span><%= kpi.nombre%></span></h3>
              </div>
              <div class="mdl-card__supporting-text desc-kpi-i">
                <%= kpi.descripcion%>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <div class="boton_act_kpis">
                  <%= link_to  edit_kpi_path(kpi), id:"edit_kpi_#{kpi.id}", class: "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect bnt_act" do%>
                      <i class="material-icons">edit</i>
                  <% end %>
                  <div class="mdl-tooltip" data-mdl-for="edit_kpi_<%=kpi.id%>">
                    Editar Indicador:  <strong><%=kpi.nombre%></strong>
                  </div>
                  <%= button_to kpi_path(kpi),id:"delete_kpi_#{kpi.id}", class:"mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect bnt_act",:method => "delete" do%>
                      <i class="material-icons">delete</i>
                  <% end %>
                  <div class="mdl-tooltip" data-mdl-for="delete_kpi_<%=kpi.id%>">
                    Eliminar Indicador:  <strong><%=kpi.nombre%></strong>
                  </div>
                  <%= link_to kpi,id:"ver_kpi_#{kpi.id}", class:"mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect bnt_act" do%>
                      <i class="material-icons">visibility</i>
                  <% end %>
                  <div class="mdl-tooltip" data-mdl-for="ver_kpi_<%=kpi.id%>">
                    Ver Indicador:  <strong><%=kpi.nombre%></strong>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
      <% end %>

    </div>
  </div>


</div>
<a href="/kpis/new" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Agregar KPI</a>


