<div class="content_p android-content mdl-layout__content kpi-k print-pdf">
  <div id="logo-emp-pdf">
    <%= wicked_pdf_image_tag 'logo_telefonica-3.png' %>
  </div>
  <h4>VP de Mercadeo</h4>
  <h4>GG Inteligencia de Negocios - Gestión de Indicadores del Área</h4>
  <p><strong>Indicador: </strong><%= @kpi.nombre %></p>
  <p><strong>Descripción: </strong><%=@kpi.descripcion %></p>
  <p><strong>Fecha de Emisión: </strong><%= Date.today%></p>
  </br></br>
  <div class="contenido-in contenido-kpis kpis-show mdl-shadow--16dp">
    <div class="dash_kpi_pdf">
      <%= @kpi.portada.html_safe %>
      <%= @kpi.dashboard.html_safe %>
    </div>

  </div>
</div>

