<div class="content_p android-content mdl-layout__content kpi-k">
  <div class="show-kpi-print">
    <span class="mdl-chip mdl-chip--deletable">
      <span class="mdl-chip__text">Exportar a PDF</span>
      <a target="_blank" href ="/kpis/<%=@kpi.id%>.pdf" type="button" class="mdl-chip__action"><i class="material-icons">print</i></a>
    </span>
  </div>
  <div class="contenido-in contenido-kpis kpis-show mdl-shadow--16dp">

    <%= render 'filtros' %>

    <div class="dash_kpi">
      <%= @kpi.url.html_safe %>
    </div>
    <%= link_to 'Edit', edit_kpi_path(@kpi) %> |
    <%= link_to 'Back', kpis_path %>

  </div>
</div>

