<p id="notice"><%= notice %></p>

<p>
  <strong>Evento:</strong>
  <%= @historial.evento %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @historial.fecha %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @historial.usuario_id %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @historial.estatus %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @historial.caso %>
</p>

<%= link_to 'Edit', edit_historial_path(@historial) %> |
<%= link_to 'Back', historials_path %>
