<p id="notice"><%= notice %></p>

<h1>Pronostico Alta</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Plataforma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pronostico_alta.each do |pronostico_altum| %>
      <tr>
        <td><%= pronostico_altum.fecha %></td>
        <td><%= pronostico_altum.cantidad %></td>
        <td><%= pronostico_altum.plataforma %></td>
        <td><%= link_to 'Show', pronostico_altum %></td>
        <td><%= link_to 'Edit', edit_pronostico_altum_path(pronostico_altum) %></td>
        <td><%= link_to 'Destroy', pronostico_altum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pronostico Altum', new_pronostico_altum_path %>
