<%= form_with(model: documento, local: true) do |form| %>
  <% if documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
      <% documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :documento_nombre %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_field :attachment, id: :documento_attachment %>
  </div>

  <div class="field">
    <%= form.label :estatus %>
    <%= form.text_field :estatus, id: :documento_estatus %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
