<div class="content_p android-content mdl-layout__content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @documento.nombre %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @documento.attachment %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @documento.estatus %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
</div>
