<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @documento.titulo %>
</p>

<p>
  <strong>Path:</strong>
  <%= @documento.path %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
