<script type="text/javascript">

  $(document).ready(function(){
    $(".espec_otro").click(function(){
      $(".espec")[0].disabled = false;
    });

    $(".espec_b").click(function(){
      $(".espec")[0].disabled = true;
      $(".espec")[0].value = null;
    });

    $("#addNewChoice").click(function() {
          $("#poll_choices").append($("#new_choice_form").html())
        }
    );

    $(".rango_desde").change(function() {
      $(".rango_fin")[0].disabled = false;
      $(".rango_fin")[0].value = $(".rango_desde")[0].value;
      $(".rango_fin")[0].setAttribute("min", $(".rango_desde")[0].value);

    });

  });

  function remove(element){
    element.parentNode.parentNode.removeChild(element.parentNode);
  }

</script>

<div class="content_p android-content mdl-layout__content">
  <div class="contenido-in contenido-f-caso">
    <!-- Contenido -->
    <% if @caso.new_record? %>
        <h2>Agregar Caso</h2>
    <% else %>
        <h2>Editar Caso</h2>
    <% end %>
    <div class="form_caso mdl-shadow--8dp">
      <%= form_with(model: @caso, local: true) do |form| %>
        <% if @caso.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@caso.errors.count, "error") %> No se pudo crear el Caso:</h2>
              <ul>
                <% @caso.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="mdl-grid padding-0 align-left">
          <div class="mdl-cell--6-col padding-20">
            <h3>Detalles del Caso</h3>
            <div class="mdl-grid">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                <%= form.text_field :titulo, id: :caso_titulo, :required => true, :oninvalid => "this.setCustomValidity('Por favor complete este campo')", :oninput => "setCustomValidity('')", :class => 'mdl-textfield__input' %>
                <label class="mdl-textfield__label" for="caso_titulo">Titulo del Caso</label>
              </div>
              <div class="mdl-cell--6-col padding-tl">
                <span class="titulo-fecha">Fecha Requerido:</span>
                </br>
                <%= form.date_field :fecha_req, id: :caso_fecha_req,  min: (Time.now.to_date + 3), :onkeydown =>"return false", :required => true, :oninvalid => "this.setCustomValidity('Por favor complete este campo')", :oninput => "setCustomValidity('')", :class => 'mdl-textfield__input'  %>
              </div>
            </div>

            <div class="mdl-grid">
              <div class="mdl-cell--6-col paddinf-ll">
                <span class="titulo-fecha">Periodo Desde:</span> <br>
                <%= form.date_field :periodo_desde, id: :caso_periodo_desde,  :onkeydown =>"return false", :required => true, :oninvalid => "this.setCustomValidity('Por favor complete este campo')", :oninput => "setCustomValidity('')" , :class => 'mdl-textfield__input rango_desde' %><br>
              </div>
              <div class="mdl-cell--6-col paddinf-l">
                <span class="titulo-fecha">Periodo Hasta:</span> <br>
                <%= form.date_field :periodo_hasta, id: :caso_periodo_hasta, :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], :class => "mdl-textfield__input rango_fin", :disabled => true, :onkeydown =>"return false"  %><br>
              </div>
            </div>

            <div class="mdl-grid">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                <%= form.select :separacion, ['coma ( , )','punto y coma ( ; )', 'pipe ( | )'],{prompt: ''}, :required => "required", :class => "mdl-textfield__input" %>
                <label class="mdl-textfield__label" for="separacion">Delimitador</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                <%= form.select :tipo_archivo, ['txt','xlsx', 'csv'],{prompt: ''}, :required => "required", :class => "mdl-textfield__input" %>
                <label class="mdl-textfield__label" for="separacion">Tipo de Archivo</label>
              </div>
            </div>
            <%= form.hidden_field :complejidad, value: "No Asignada"  %>
            <%= form.hidden_field :status, value: "Iniciado"  %>
            <%= form.hidden_field :infosoft, value: "NO"  %>
            <%= form.hidden_field :fecha_creado, value: Time.now  %>
            <%= form.hidden_field :usuario_id, value: session[:usuario_id]  %>
          </div>

          <div class="mdl-cell--2-col align-left padding-20 mod-w font-m">
            <h3>Indicadores</h3>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_arpu">
                  <%= form.check_box :arpu, id: :caso_arpu, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">ARPU</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_altas">
                  <%= form.check_box :altas, id: :caso_altas, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Altas</span>
                </label>
              </div>
            </div>

            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_parque">
                  <%= form.check_box :parque, id: :caso_parque, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Parque</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_recargas">
                  <%= form.check_box :recargas, id: :caso_recargas, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Recargas</span>
                </label>
              </div>
            </div>

            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_act_tabla">
                  <%= form.check_box :act_tabla, id: :caso_act_tabla, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Activaciones</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_tlv">
                  <%= form.check_box :tlv, id: :caso_tlv, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Televentas</span>
                </label>
              </div>
            </div>

          </div>

          <div class="mdl-cell--2-col align-left padding-20 font-m">
            <h3>Filtro</h3>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_phone">
                  <%= form.check_box :phone, id: :caso_phone, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Smartphone/No Smartphone</span>
                </label>
              </div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_pre_post">
                  <%= form.check_box :pre_post, id: :caso_pre_post, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Prepago/Postpago</span>
                </label>
              </div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_otro">
                  <%= form.check_box :otro , id: :caso_otro, :class => "mdl-checkbox__input" %>
                  <span class="mdl-checkbox__label">Otro</span>
                </label>
              </div>
            </div>
          </div>

          <div class="mdl-cell--2-col align-left padding-20 font-m">
            <h3>Línea de Negocio</h3>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_fijo">
                  <%= form.check_box  :fijo, id: :caso_fijo, :class => "mdl-checkbox__input"%>
                  <span class="mdl-checkbox__label">Fijo</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_im">
                  <%= form.check_box :im, id: :caso_im, :class => "mdl-checkbox__input"%>
                  <span class="mdl-checkbox__label">Internet Móvil</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_movil">
                  <%= form.check_box :movil, id: :caso_movil, :class => "mdl-checkbox__input"%>
                  <span class="mdl-checkbox__label">Móvil</span>
                </label>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="caso_tv">
                  <%= form.check_box :tv, id: :caso_tv, :class => "mdl-checkbox__input"%>
                  <span class="mdl-checkbox__label">Televisión</span>
                </label>
              </div>
            </div>
          </div>

        </div>


          <div class="mdl-grid padding-0 align-left">
            <div class="mdl-cell--3-col align-left padding-20 font-m">
              <h3>Tipo de Caso</h3>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                  <span>Recurrente</span>
                  <%= form.radio_button :tipo_caso, 'Recurrente', :checked => true %>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                  <span>No Recurrente</span>
                  <%= form.radio_button :tipo_caso, 'No Recurrente' %>
                </div>
              </div>
            </div>

            <div class="mdl-cell--3-col align-left padding-20 font-m cont-ag">
              <h3>Agrupaciones</h3>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                  <span>Por Plan</span>
                  <%= form.radio_button :agrup, "Por plan",id: :caso_agrup,:class => "espec_b mdl-radio__button", :checked => true %><br>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <span>Por Cliente</span>
                  <%= form.radio_button :agrup, "Por cliente", id: :caso_agrup, :class => "espec_b" %><br>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <span>Por Plataforma</span>
                  <%= form.radio_button :agrup, "Por plataforma", id: :caso_agrup, :class => "espec_b" %><br>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <span>Por Terminal</span>
                  <%= form.radio_button :agrup, "Por tipo de terminal", id: :caso_agrup,:class => "espec_b" %><br>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <span>Por tecnologia</span>
                  <%= form.radio_button :agrup, "Por tecnologia", id: :caso_agrup,:class => "espec_b" %><br>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <span>Otro </span>
                  <%= form.radio_button :agrup, "otro", id: :caso_agrup, :class => "espec_otro" %>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col it">
                  <%= form.text_field :agrup , id: :caso_agrup,:class => "espec mdl-textfield__input", :disabled => true %><br><br>
                  <label class="mdl-textfield__label" for="caso_agrup">Especifique</label>
                </div>
              </div>
            </div>

            <div class="mdl-cell--3-col padding-20 padding-x">
              <h3>Condiciones</h3>
                <div>
                  <label class="text-area-d">Condiciones:</label>
                  <%= form.text_area :condiciones, id: :caso_condiciones, :required => true, :rows => "5", :width => "100%", :oninvalid => "this.setCustomValidity('Por favor complete este campo')", :oninput => "setCustomValidity('')", :class => 'mdl-text-area' %>
                </div>
            </div>

            <div class="mdl-cell--3-col align-left padding-20 font-m">
              <h3>Campos</h3>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                  <div id = "poll_choices">
                    <div class="choiceForm">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                        <%= text_field_tag "campos[]",nil, :required => true, :oninvalid => "this.setCustomValidity('Por favor complete este campo')", :oninput => "setCustomValidity('')", :class=>"mdl-textfield__input" %>
                        <label class="mdl-textfield__label" for="campo">Especifique el Campo</label>
                      </div>
                    </div>
                  </div><br>
                  <div style="display: none;" id="new_choice_form">
                    <%= render partial: "campos", locals: {poll: false} %>
                  </div><br><a href="javascript:;" id="addNewChoice">Agregar nuevo Campo</a><br><br>
                </div>
              </div>
            </div>
          </div>
          </br></br>
          <div class="button-container">
            <a href="/casos" class="mdl-button mdl-js-button btn-cancelar"><i class="material-icons">chevron_left</i>CANCELAR</a>
            <button><span>Enviar</span></button>
          </div>
          </br></br>

     <% end %>
    </div>
  </div>
</div>