<div class="content_p android-content mdl-layout__content">
<p id="notice"><%= notice %></p>

<h1>Casos</h1>

<table>
  <thead>
    <tr>
      <th>Act tabla</th>
      <th>Agrup</th>
      <th>Altas</th>
      <th>Arpu</th>
      <th>Campos</th>
      <th>Complejidad</th>
      <th>Condiciones</th>
      <th>Consultor</th>
      <th>Especifique</th>
      <th>Fech asig</th>
      <th>Fecha creado</th>
      <th>Fecha req</th>
      <th>Fijo</th>
      <th>Im</th>
      <th>Infosoft</th>
      <th>Movil</th>
      <th>Otro</th>
      <th>Parque</th>
      <th>Periodo</th>
      <th>Phone</th>
      <th>Pre post</th>
      <th>Recargas</th>
      <th>Separacion</th>
      <th>Status</th>
      <th>Tipo archivo</th>
      <th>Tipo caso</th>
      <th>Titulo</th>
      <th>Tlv</th>
      <th>Tv</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casos.each do |caso| %>
      <tr>
        <td><%= caso.act_tabla %></td>
        <td><%= caso.agrup %></td>
        <td><%= caso.altas %></td>
        <td><%= caso.arpu %></td>
        <td><%= caso.campos %></td>
        <td><%= caso.complejidad %></td>
        <td><%= caso.condiciones %></td>
        <td><%= caso.consultor %></td>
        <td><%= caso.especifique %></td>
        <td><%= caso.fech_asig %></td>
        <td><%= caso.fecha_creado %></td>
        <td><%= caso.fecha_req %></td>
        <td><%= caso.fijo %></td>
        <td><%= caso.im %></td>
        <td><%= caso.infosoft %></td>
        <td><%= caso.movil %></td>
        <td><%= caso.otro %></td>
        <td><%= caso.parque %></td>
        <td><%= caso.periodo %></td>
        <td><%= caso.phone %></td>
        <td><%= caso.pre_post %></td>
        <td><%= caso.recargas %></td>
        <td><%= caso.separacion %></td>
        <td><%= caso.status %></td>
        <td><%= caso.tipo_archivo %></td>
        <td><%= caso.tipo_caso %></td>
        <td><%= caso.titulo %></td>
        <td><%= caso.tlv %></td>
        <td><%= caso.tv %></td>
        <td><%= caso.usuario %></td>
        <td><%= link_to 'Show', caso %></td>
        <td><%= link_to 'Edit', edit_caso_path(caso) %></td>
        <td><%= link_to 'Destroy', caso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caso', new_caso_path %>
</div>