<div class="content_p android-content mdl-layout__content">
<style>
table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
  </style>
<p id="notice"><%= notice %></p>

<h1>Casos</h1>

<table class="table-fill" style="width: 85%;">
  <thead>
    <tr>
      <th>Caso</th>
      <th>Titulo</th>
      <th style="word-wrap:break-word;">Fecha de creación/asignación</th>
      <th style="word-wrap:break-word;">Dias transcurridos desde:</th>
      <th>Asignado a Infosoft</th>
      <th>Complejidad</th>
      <th>Estatus</th>
      <th>Ver Casos</th>      
    </tr>
  </thead>

  <tbody>
    <% @casos.each do |caso| %>
      <tr>
        <td><%= caso.id %></td>
        <td><%= caso.titulo %></td>
        <td>
            Creacion: <%= caso.fecha_creado %><br>
            Asignacion: <%= caso.fech_asig == nil ? "No asignada" : caso.fech_asig %>
        </td>
        <td>
            Creacion: <%= (Date.parse Time.now.strftime("%Y/%m/%d")).mjd - caso.fecha_creado.mjd %> <br>
            Asignacion: <%= caso.fech_asig == nil ? "No asignada" : (Date.parse Time.now.strftime("%Y/%m/%d")).mjd - caso.fech_asig.mjd %>
        </td>
        <td><%= caso.infosoft %></td>
        <td><%= caso.complejidad %></td>
        <td><%= caso.status %></td>
        <td><%= link_to 'Ver', caso %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if session[:usuario_tipo] == 'Admin' and @self != '1' %>
  <% @casos = @casos2 %>
  <h1>Casos asignados</h1>
  <table class="table-fill" style="width: 85%;">
  <thead>
    <tr>
      <th>Caso</th>
      <th>Titulo</th>
      <th style="word-wrap:break-word;">Fecha de creación/asignación</th>
      <th style="word-wrap:break-word;">Dias transcurridos desde:</th>
      <th>Asignado a Infosoft</th>
      <th>Complejidad</th>
      <th>Estatus</th>
      <th>Ver Casos</th>      
    </tr>
  </thead>

  <tbody>
    <% @casos.each do |caso| %>
      <tr>
        <td><%= caso.id %></td>
        <td><%= caso.titulo %></td>
        <td>
            Creacion: <%= caso.fecha_creado %><br>
            Asignacion: <%= caso.fech_asig == nil ? "No asignada" : caso.fech_asig %>
        </td>
        <td>
            Creacion: <%= (Date.parse Time.now.strftime("%Y/%m/%d")).mjd - caso.fecha_creado.mjd %> <br>
            Asignacion: <%= caso.fech_asig == nil ? "No asignada" : (Date.parse Time.now.strftime("%Y/%m/%d")).mjd - caso.fech_asig.mjd %>
        </td>
        <td><%= caso.infosoft == nil ? "NO" : caso.infosoft %></td>
        <td><%= caso.complejidad %></td>
        <td><%= caso.status %></td>
        <td><%= link_to 'Ver', caso %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @casos = @casos3 %>
  <h1>Casos cerrados</h1>
<table class="table-fill" style="width: 85%;">
  <thead>
    <tr>
      <th>Caso</th>
      <th>Titulo</th>
      <th style="word-wrap:break-word;">Fecha de creación/asignación</th>
      <th style="word-wrap:break-word;">Dias transcurridos desde:</th>
      <th>Asignado a Infosoft</th>
      <th>Complejidad</th>
      <th>Estatus</th>
      <th>Ver Casos</th>      
    </tr>
  </thead>

  <tbody>
    <% @casos.each do |caso| %>
      <tr>
        <td><%= caso.id %></td>
        <td><%= caso.titulo %></td>
        <td>
            Creacion: <%= caso.fecha_creado %><br>
            Asignacion: <%= caso.fech_asig == nil ? "No asignada" : caso.fech_asig %>
        </td>
        <td>
            Creacion: <%= (Date.parse Time.now.strftime("%Y/%m/%d")).mjd - caso.fecha_creado.mjd %> <br>
            Asignacion: <%= caso.fech_asig == nil ? "No asignada" : (Date.parse Time.now.strftime("%Y/%m/%d")).mjd - caso.fech_asig.mjd %>
        </td>
        <td><%= caso.infosoft == nil ? "NO" : caso.infosoft %></td>
        <td><%= caso.complejidad %></td>
        <td><%= caso.status %></td>
        <td><%= link_to 'Ver', caso %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Caso nuevo', new_caso_path %>
</div>