<div class="content_p android-content mdl-layout__content">
<style>
table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:15px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:10px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
  </style>

<table ><tr>
<td style="vertical-align: text-top;">
  <table class="table-fill" style="width: 50vw;">
<thead>
<tr>
<th class="text-left">Detalles del Caso</th>
<th class="text-left">Indicadores</th>
<th class="text-left">Filtro</th>
<th class="text-left">Linea de Negocio</th>
<th class="text-left">Tipo de Caso</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left" style="white-space: nowrap;word-wrap: break-word;">
     Titulo: <b><%= @caso.titulo %></b><br>
     Fecha creado:<br>&nbsp &nbsp <b><%= @caso.fecha_creado %></b><br>
     Fecha requerido:<br> &nbsp &nbsp<b><%= @caso.fecha_req %></b><br>
     Periodo - desde:<br> &nbsp &nbsp <b><%= @caso.periodo_desde %></b><br> hasta:<br>&nbsp &nbsp <b><%= @caso.periodo_hasta %></b><br>
     Delimitador: <br>&nbsp &nbsp<b><%= @caso.separacion %></b><br>
     Tipo de archivo: <br>&nbsp &nbsp<b><%= @caso.tipo_archivo %></b><br>
     

</td>
<td class="text-left">
    ARPU: <b><%= @caso.arpu == '0' ? "NO" : "SI" %></b><br>
    Altas: <b><%= @caso.altas == '0' ? "NO" : "SI"%></b><br>
    Parque: <b><%= @caso.parque == '0' ? "NO" : "SI" %></b><br>
    Recargas: <b><%= @caso.recargas == '0' ? "NO" : "SI"%></b><br>
    Act_Tabla: <b><%= @caso.act_tabla == '0' ? "NO" : "SI"%></b><br>
    TLV: <b><%= @caso.tlv == '0' ? "NO" : "SI"%>
</td>
<td class="text-left">
    Smartphone/No Smartphone: <b><%= @caso.phone == '0' ? "NO" : "SI"%></b><br>
    Prepago/Postpago: <b><%= @caso.pre_post == '0' ? "NO" : "SI"%></b><br>
    Otro: <b><%= @caso.otro == "" ? "NO" : @caso.otro %></b>
</td>
<td class="text-left">
    Fijo: <b><%= @caso.fijo == '0' ? "NO" : "SI"%></b><br>
    IM: <b><%= @caso.im == '0' ? "NO" : "SI"%></b><br>
    Movil: <b><%= @caso.movil == '0' ? "NO" : "SI"%></b><br>
    TV: <b><%= @caso.tv == '0' ? "NO" : "SI"%></b>
</td>
<td class="text-left"><%= @caso.tipo_caso %></td>
</tr>
</tbody>
</table>
<table class="table-fill" style="width: 50vw;" >
<thead>
<tr>
<th class="text-left">Agrupaciones</th>
<th class="text-left">Condiciones</th>
<th class="text-left">Campos</th>
<th class="text-left">Complejidad</th>
<th class="text-left">Estatus</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left"><%= @caso.agrup %><%= @caso.especifique %></td>
<td class="text-left" style="max-width: 300px;word-wrap: break-word;"><%= @caso.condiciones %></td>
<td class="text-left" style="max-width: 300px;word-wrap: break-word;"><%= @caso.campos %></td>
<td class="text-left"><%= @caso.complejidad %></td>
<td class="text-left"><%= @caso.status %></td>
</tr>
</tbody>
</table>
<br>
<% if admin?  %>
  <% if @caso.status == "Cerrado" %>
    <% @reapertura = (Date.parse Time.now.strftime("%Y/%m/%d")).mjd - @caso.fecha_cerrado.mjd %>
    <% if (@caso.complejidad == "Bajo" and @reapertura <= 1) or (@caso.complejidad == "Medio" and @reapertura <= 2) or (@caso.complejidad == "Alto" and @reapertura <= 4) or (@caso.complejidad == "Urgente" and @reapertura <= 1) %>
    <%= form_for @caso, :url => {:action => "update"} do |f|%>
    <%= f.hidden_field :status, :value => "En Proceso" %>
    <%= hidden_field_tag :estatus, "Caso reabierto por Administrador, nuevo estatus: " %>
    <%= f.submit "Reabrir caso" %>
    <% end %>
    <% end %>
  <% else %>  
    <%= form_for @caso, :url => {:action => "update"} do |f|%>
    <%= f.select :complejidad, ['Bajo','Medio','Alto','Urgente'] %><br>
    <%= f.hidden_field :status, :value => "En Proceso" %>
    <%= f.hidden_field :infosoft, :value => "SI" %>
    
    <%= f.hidden_field :fech_asig, :value => Time.now %>
    <%= hidden_field_tag :estatus, "Asignada complejiad del caso por Aministrador a: " %>
    <%= f.submit (@caso.infosoft == "NO" ? "Asignar Complejidad" : "Re-asignar Complejidad" ) %>
    <% end %><br>
    <%= form_for @caso, :url => {:action => "update"} do |f|%>
    <%= f.select :status, [' Anulado','BI-Afectado','BI-Planificado','Iniciado','En Proceso', 'Cerrado'] %><br>
    <%= hidden_field_tag :estatus, "Actualizacion de estatus a: " %>
    <%= f.submit "Cambiar Estatus" %>
    <% end %>
  <% end %>
<% end %>
<% if cons_lid? %>
Asignado a: <%= @caso.consultor_id == nil ? "No asignado" : @caso.consultor_id %><br>
<%= form_for @caso, :url => {:action => "update"} do |f|%>
<% @lista = [] %>
<% Usuario.where("role_id in (5,4)").each do |u| %>
  <% @lista.append( u.usuario) %>
<% end %>  
<%= f.select :consultor_id, @lista  %>
<%= hidden_field_tag :estatus, "Caso asignado a Consultor" %>
<%= f.submit "Asignar caso" %>
<% end %>
<% end %>
<% if cons? or (cons_lid? and @caso.consultor_id == current_user.usuario)%>
<%= form_for @caso, :url => {:action => "update"} do |f|%>
    <br><%= f.select :status, ['Iniciado','En Proceso','Cerrado'] %><br>
    <%= hidden_field_tag :estatus, "Actualizacion de estatus a: " %>
    <%= f.submit "Cambiar Estatus" %>
<% end %>
<% end %><br>

<%= link_to 'Volver', casos_path %>
</td>


<td style="vertical-align: text-top;">
<table class="table-fill" style="table-layout: fixed;">
  <tr> <th>Documentos</th></tr>
  <tr ><td style="word-wrap: break-word;width:20vw">
    <% @docs = @caso.documentos %>
     <% @docs.each do |doc| %>
        -)<%= doc.nombre %> <br> <%= doc.created_at.strftime('%d/%m/%Y %H:%M') %> <br>
        <% if doc.estatus == "Borrado" %>
           <b>Eliminado </b><br>
        <% else %>
        <%= link_to "Descargar", doc.attachment_url, :style => 'color:blue' %>
          <% if cli? and doc.estatus != "Borrado" %>
              <%= button_to "Borrar",  doc, method: :delete %>
          <% else %>
            <br>     
          <% end %>
        <% end %>
     <% end %>
  </td>
  </tr>
  
    
    <% if cli? and @caso.complejidad == "No Asignada" and @caso.documentos.where("estatus != 'Borrado'").length < 5 %>
    <tr><td style="word-wrap: break-word;">
  <%  @documento = Documento.new %>
  <%= form_for @documento, multipart: true do |doc|  %>
  Cargar documento: <br><%= doc.file_field :attachment %><br>
  <% if !flash[:notice].blank? %>
  <b style="color: red;"><%= flash[:notice] %></b>
<% end %>
  <%= doc.hidden_field :estatus, :value => "open" %>
  <%= doc.hidden_field :nombre, :value => :attachment %><br>
  <%= doc.hidden_field :caso_id, :value => @caso.id  %><br>
  <%= doc.submit "Cargar" %>
  <% end %>


  </td></tr>
<% elsif cli? and @caso.complejidad == "No Asignada" %>
   <tr><td><span style="font-size: 2.2em">&#9888</span>  <%= "Solo se permite cargar un maximo de 5 documentos" %></td></tr>
<% elsif cli? %>
   <tr><td><span style="font-size: 2.2em">&#9888</span>  <%= "No se puede cargar documentos luego de asignar el caso" %></td></tr>
<% end %><br>
  
  </table>

</td><td style="vertical-align: text-top;width: 10vw">
<% if !cli? %>
<table class="table-fill" style="table-layout: fixed;width: 20vw" >
<tr>
<th class="text-left">Comentarios</th>
</tr>
<% @caso.comentarios.each do |com| %>
<tr>
<td class="text-left" style="word-wrap: break-word;">
  <b><%= com.autor %>  -  <%= com.created_at.strftime('%d/%m/%Y %H:%M') %></b><br><br>
  <%= com.texto %>
</td>
</tr>
<% end %>
<tr><td style="word-wrap: break-word;">
<% comment = Comentario.new %>
<%= form_for comment do |form| %>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :comentario_texto, :style => 'width:17vw;', :rows => "3" %>
  </div>
   <%= form.hidden_field :caso_id, value: @caso.id %>
   <%= form.hidden_field :fecha, value: Time.now %>
   <%= form.hidden_field :autor, value: current_user.role.nombre %>
  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>
<% end %>
<% end %>

</td></tr>
</table></td></tr></table>


</div>
