<div class="content_p android-content mdl-layout__content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Act tabla:</strong>
  <%= @caso.act_tabla %>
</p>

<p>
  <strong>Agrup:</strong>
  <%= @caso.agrup %>
</p>

<p>
  <strong>Altas:</strong>
  <%= @caso.altas %>
</p>

<p>
  <strong>Arpu:</strong>
  <%= @caso.arpu %>
</p>

<p>
  <strong>Campos:</strong>
  <%= @caso.campos %>
</p>

<p>
  <strong>Complejidad:</strong>
  <%= @caso.complejidad %>
</p>

<p>
  <strong>Condiciones:</strong>
  <%= @caso.condiciones %>
</p>

<p>
  <strong>Consultor:</strong>
  <%= @caso.consultor %>
</p>

<p>
  <strong>Especifique:</strong>
  <%= @caso.especifique %>
</p>

<p>
  <strong>Fech asig:</strong>
  <%= @caso.fech_asig %>
</p>

<p>
  <strong>Fecha creado:</strong>
  <%= @caso.fecha_creado %>
</p>

<p>
  <strong>Fecha req:</strong>
  <%= @caso.fecha_req %>
</p>

<p>
  <strong>Fijo:</strong>
  <%= @caso.fijo %>
</p>

<p>
  <strong>Im:</strong>
  <%= @caso.im %>
</p>

<p>
  <strong>Infosoft:</strong>
  <%= @caso.infosoft %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @caso.movil %>
</p>

<p>
  <strong>Otro:</strong>
  <%= @caso.otro %>
</p>

<p>
  <strong>Parque:</strong>
  <%= @caso.parque %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @caso.periodo %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @caso.phone %>
</p>

<p>
  <strong>Pre post:</strong>
  <%= @caso.pre_post %>
</p>

<p>
  <strong>Recargas:</strong>
  <%= @caso.recargas %>
</p>

<p>
  <strong>Separacion:</strong>
  <%= @caso.separacion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @caso.status %>
</p>

<p>
  <strong>Tipo archivo:</strong>
  <%= @caso.tipo_archivo %>
</p>

<p>
  <strong>Tipo caso:</strong>
  <%= @caso.tipo_caso %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @caso.titulo %>
</p>

<p>
  <strong>Tlv:</strong>
  <%= @caso.tlv %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @caso.tv %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @caso.usuario %>
</p>

<%= link_to 'Edit', edit_caso_path(@caso) %> |
<%= link_to 'Back', casos_path %>
</div>