<p id="notice"><%= notice %></p>

<p>
  <strong>Terminal:</strong>
  <%= @recargas_terminal.TERMINAL %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @recargas_terminal.FECHA %>
</p>

<p>
  <strong>Recargas:</strong>
  <%= @recargas_terminal.RECARGAS %>
</p>

<p>
  <strong>Clientes:</strong>
  <%= @recargas_terminal.CLIENTES %>
</p>

<p>
  <strong>Fisica:</strong>
  <%= @recargas_terminal.FISICA %>
</p>

<p>
  <strong>Fisica bsf:</strong>
  <%= @recargas_terminal.FISICA_BSF %>
</p>

<p>
  <strong>Fisica bsf siniva12:</strong>
  <%= @recargas_terminal.FISICA_BSF_SINIVA12 %>
</p>

<p>
  <strong>Fisica bsf siniva10:</strong>
  <%= @recargas_terminal.FISICA_BSF_SINIVA10 %>
</p>

<p>
  <strong>P2p:</strong>
  <%= @recargas_terminal.P2P %>
</p>

<p>
  <strong>P2p bsf:</strong>
  <%= @recargas_terminal.P2P_BSF %>
</p>

<p>
  <strong>P2p bsf siniva12:</strong>
  <%= @recargas_terminal.P2P_BSF_SINIVA12 %>
</p>

<p>
  <strong>P2p bsf siniva10:</strong>
  <%= @recargas_terminal.P2P_BSF_SINIVA10 %>
</p>

<p>
  <strong>Gre:</strong>
  <%= @recargas_terminal.GRE %>
</p>

<p>
  <strong>Gre bsf:</strong>
  <%= @recargas_terminal.GRE_BSF %>
</p>

<p>
  <strong>Gre bsf siniva12:</strong>
  <%= @recargas_terminal.GRE_BSF_SINIVA12 %>
</p>

<p>
  <strong>Gre bsf siniva10:</strong>
  <%= @recargas_terminal.GRE_BSF_SINIVA10 %>
</p>

<p>
  <strong>Bancaria:</strong>
  <%= @recargas_terminal.BANCARIA %>
</p>

<p>
  <strong>Bancaria bsf:</strong>
  <%= @recargas_terminal.BANCARIA_BSF %>
</p>

<p>
  <strong>Bancaria bsf siniva12:</strong>
  <%= @recargas_terminal.BANCARIA_BSF_SINIVA12 %>
</p>

<p>
  <strong>Bancaria bsf siniva10:</strong>
  <%= @recargas_terminal.BANCARIA_BSF_SINIVA10 %>
</p>

<p>
  <strong>Mmo:</strong>
  <%= @recargas_terminal.MMO %>
</p>

<p>
  <strong>Mmo bsf:</strong>
  <%= @recargas_terminal.MMO_BSF %>
</p>

<p>
  <strong>Mmo bsf siniva12:</strong>
  <%= @recargas_terminal.MMO_BSF_SINIVA12 %>
</p>

<p>
  <strong>Mmo bsf siniva10:</strong>
  <%= @recargas_terminal.MMO_BSF_SINIVA10 %>
</p>

<p>
  <strong>Transferencia:</strong>
  <%= @recargas_terminal.TRANSFERENCIA %>
</p>

<p>
  <strong>Transferencia bsf:</strong>
  <%= @recargas_terminal.TRANSFERENCIA_BSF %>
</p>

<p>
  <strong>Transferencia bsf siniva12:</strong>
  <%= @recargas_terminal.TRANSFERENCIA_BSF_SINIVA12 %>
</p>

<p>
  <strong>Transferencia bsf siniva10:</strong>
  <%= @recargas_terminal.TRANSFERENCIA_BSF_SINIVA10 %>
</p>

<p>
  <strong>Bs total:</strong>
  <%= @recargas_terminal.BS_TOTAL %>
</p>

<%= link_to 'Edit', edit_recargas_terminal_path(@recargas_terminal) %> |
<%= link_to 'Back', recargas_terminals_path %>
