<div class="content_p android-content mdl-layout__content">
  <h1>Users#index</h1>

  <%= link_to 'New user', new_usuario_path %>
  <%= link_to "Todo los usuarios", :controller => "usuarios", :action => "index" %>
  <%= link_to "Usuario ricardo", :controller => "usuarios", :action => "index", :flag => 0 %>


  <h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Text2</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.title %></td>
        <td><%= link_to 'Show', usuario_path(user) %></td>
        <td><%= link_to 'Edit', edit_usuario_path(user) %></td>
        <br>
        <td><%= link_to 'Destroy', usuario_path(user),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>




  </div>