<div class="content_p android-content mdl-layout__content">
  <div class="contenido-in">
    <% @usuarios.each do |usuario| %>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--8dp section-us">
          <header class="section__play-btn mdl-cell mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--4-col-phone mdl-color-text--white header-us">
            <%= "Cod: "+usuario.codigo_empleado %>
            </br>
            <%= usuario.role.nombre %>
            </br>
            <%= image_tag "admin.png", class:"icon_rol"%>
          </header>
          <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone cont_info">
              <div class="mdl-card__supporting-text mdl-card__supporting-text-im">
                <h5>
                  <strong><%= "Nombre: "+usuario.nombre+" "+usuario.apellido %></strong>
                </h5>
                <p>
                  <%= "Cargo: "+usuario.cargo %>
                  </br>
                  <%= "Estatus: Pendiente" if (usuario.estatus == false) %>
                  <%= "Estatus: Aprobado" if (usuario.estatus == true) %>
                </p>
              </div>
              <div class="mdl-card__actions us_cart_actions">
                <a href="#" class="mdl-button us_detalle">Más detalles</a>
                <div class="desplegable">
                  <p>
                    <%= "Usuario: "+usuario.usuario %>
                    </br>
                    <%= "Área: "+usuario.area %>
                    </br>
                    <%= "Gerencia: "+usuario.gerencia %>
                    </br>
                    <%= "Télefono: "+usuario.telefono %>
                    </br>
                    <%= "Correo: "+usuario.correo %>
                    </br>
                    <%= "Supervisor: "+usuario.supervisor %>
                    </br>
                    <%= "Justificacioń: "+usuario.justificacion %>
                  </p>
                </div>
              </div>

            <div class="cont_bottom">
              <%= link_to  edit_usuario_path(usuario), class: "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" do%>
                  <i class="material-icons">edit</i>
              <% end %>
              <%= button_to usuario_path(usuario), class:"mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect",:method => "delete" do%>
                  <i class="material-icons">delete</i>
              <% end %>

            </div>

          </div>

          </section>

    <% end %>


  </div>
  </div>
<a href="/usuarios/new" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Agregar Usuario</a>
