<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall is-casting-shadow">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>

      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Inicio</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#noticias">Noticias</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#project">Proyectos</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#nosotros">Nosotros</a>
          <% if logged_in? %>
              <%= button_to "Salir",logout_path,:method => "delete", :class => "mdl-navigation__link mdl-typography--text-uppercase btn-sesion" %>
        <% else %>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">Ingresar</a>
          <% end %>
        </nav>
      </div>
          <span class="android-mobile-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>

    </div>
  </div>

  <!-- Menu lateral -->
  <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <%= image_tag "logo_telefonica_blanco.png", class: "android-logo-image" %>
        </span>
    <nav class="mdl-navigation">
      <!-- Opciones Administrador -->
      <% if admin? %>
          <!-- Mi cuenta -->
       <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/menus">Gestión de  cuenta</a>
        </div>


          <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="#">
          Indicadores
         <i class="material-icons list">trending_up</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/kpis">Gestión de  Indicadores</a>
          <a class="mdl-navigation__link" href="/kpis/new">Crear Indicador</a>
        </div>

        <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Gestión de Casos</a>
            <a class="mdl-navigation__link" href="">Crear Caso</a>
          </div>
          <!-- Gestion de usuarios -->
        <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
          <div id="admin_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/usuarios/new">Crear</a>
            <a class="mdl-navigation__link" href="">Aprobar</a>
          </div>

          <!-- Gestion de las Noticias -->
          <span class="mdl-navigation__link menu" href="/publicaciones">
          Publicaciones
         <i class="material-icons list">group</i>
        </span>
          <div id="publicaciones" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/publicaciones">Gestionar publicaiones</a>
            <a class="mdl-navigation__link" href="/publicaciones/new">Crear</a>
          </div>

          <!-- Gestion de los Proyectos -->
          <span class="mdl-navigation__link menu" href="">
          Proyectos
         <i class="material-icons list">group</i>
        </span>
          <div id="proyectos" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/proyectos/new">Crear</a>
          </div>


      <% elsif admin_ind? %>
         <!-- Gestion de indicadores -->
         <span class="mdl-navigation__link menu" href="">
            Indicadores
            <i class="material-icons list">trending_up</i>
          </span>
          <div id="indicadores" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Listar</a>
            <a class="mdl-navigation__link" href="">Crear</a>
          </div>
         <!-- Gestion de usuarios de indicadores -->
         <span class="mdl-navigation__link menu" href="">
            Usuarios
           <i class="material-icons list">perm_identity</i>
          </span>
          <div id="ind_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Listar</a>
            <a class="mdl-navigation__link" href="">Crear</a>
          </div>
      <% elsif admin_min? %>
        <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="">Gestión de Casos</a>
          <a class="mdl-navigation__link" href="">Crear Caso</a>
        </div>
       <!-- Gestion de usuarios de indicadores -->
       <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
        <div id="imin_usuarios" class="sub-menu-container">
          <a class="mdl-navigation__link" href="">Listar</a>
          <a class="mdl-navigation__link" href="">Crear</a>
        </div>

      <% elsif cons_lid? %>
          <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Gestión de Casos</a>
            <a class="mdl-navigation__link" href="">Crear Caso</a>
          </div>
          <!-- Gestion de usuarios de indicadores -->
       <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
          <div id="imin_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Listar</a>
            <a class="mdl-navigation__link" href="">Crear</a>
          </div>

      <% elsif cons? %>
          <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Gestión de Casos</a>
            <a class="mdl-navigation__link" href="">Crear Caso</a>
          </div>
          <!-- Gestion de usuarios de indicadores -->
       <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
          <div id="imin_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Listar</a>
            <a class="mdl-navigation__link" href="">Crear</a>
          </div>

      <% elsif cli? %>
       <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Gestión de Casos</a>
            <a class="mdl-navigation__link" href="">Crear Caso</a>
          </div>
          <!-- Gestion de usuarios de indicadores -->
       <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
          <div id="imin_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Listar</a>
            <a class="mdl-navigation__link" href="">Crear</a>
          </div>
      <% end %>

    </nav>

  </div>

  <% if logged_in? %>
      <!-- Icon menus lateral -->
      <div class="android-content mdl-layout__content">
        <a name="top"></a>
      </div>

  <% end %>

  <!-- Alertas -->
    <% if flash[:notice]  %>
        <div class="notice mdl-shadow--16dp"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert mdl-shadow--16dp"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert mdl-shadow--16dp"><%= flash[:error] %></div>
    <% end %>


</div>