<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall is-casting-shadow">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div>
      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Inicio</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home/noticias">Noticias</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Nosotros</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Proyectos</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">Login / Sign Up</a>
        </nav>
      </div>
          <span class="android-mobile-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>
      <!-- Boton para mas opciones -->
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect mdl-shadow--8dp"  for="more-button">
        <li class="mdl-menu__item">Mi cuenta</li>
        <li class="mdl-menu__item">Salir</li>
      </ul>
    </div>
  </div>

  <!-- Menu lateral -->
  <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <%= image_tag "logo_telefonica_blanco.png", class: "android-logo-image" %>
        </span>
    <nav class="mdl-navigation">
      <!-- Opciones Administrador -->
      <strong><span class="mdl-navigation__link" href="">Usuarios</span></strong>
      <a class="mdl-navigation__link" href="/usuarios/index">Lista de usuarios</a>
      <a class="mdl-navigation__link" href="">Versi칩n</a>
      <a class="mdl-navigation__link" href="">Gesti칩n de Usuarios</a>
      <div class="android-drawer-separator"></div>
      <!-- Menu para Portal de Indicadores -->
      <strong><span class="mdl-navigation__link" href="">Indicadores</span></strong>
      <a class="mdl-navigation__link" href="">Altas</a>
      <a class="mdl-navigation__link" href="">Arpu</a>
      <a class="mdl-navigation__link" href="">Recargas</a>
      <a class="mdl-navigation__link" href="">Tr치fico</a>
      <div class="android-drawer-separator"></div>
      <!-- Menu para Portal de Gestion de Mineria -->
      <strong><span class="mdl-navigation__link" href="">Mineria</span></strong>
      <% if session[:usuario_tipo] == "Admin" %>
        <a class="mdl-navigation__link" href="/casos">Gesti칩n de Casos</a>
        <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
        <%= link_to "Mis casos", casos_path( :self => 1 ), :class => "mdl-navigation__link" %>
      <%  elsif session[:usuario_tipo] == "Infosoft-Admin" %>
        <a class="mdl-navigation__link" href="/casos">Gestion de Casos</a>
        <%= link_to "Mis casos", casos_path( :self => 1 ), :class => "mdl-navigation__link" %>
      <%  elsif session[:usuario_tipo] == "cliente" %>
        <a class="mdl-navigation__link" href="/casos">Mis Casos</a>
        <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
      <% else %>
        <a class="mdl-navigation__link" href="/casos">Mis Casos</a>
      <% end %>
      <div class="android-drawer-separator"></div>

    </nav>
  </div>

  <!-- Icon menus lateral -->

  <div class="android-content mdl-layout__content">
    <a name="top"></a>
  </div>
</div>