<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall is-casting-shadow">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div>
      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Inicio</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home/noticias">Noticias</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Nosotros</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Proyectos</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login"><%= current_user != nil ? "Cerrar sesion" :       "Ingresar" %></a>
        </nav>
      </div>
          <span class="android-mobile-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>
      <!-- Boton para mas opciones -->
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect mdl-shadow--8dp"  for="more-button">
        <li class="mdl-menu__item">Mi cuenta</li>
        <li class="mdl-menu__item">Salir</li>
      </ul>
    </div>
  </div>

  <!-- Menu lateral -->
  <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <%= image_tag "logo_telefonica_blanco.png", class: "android-logo-image" %>
        </span>
    <nav class="mdl-navigation">
      <!-- Opciones Administrador -->

      <% if admin? %>
          <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Indicadores
         <i class="material-icons list">grid_on</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="">Gesti贸n de  Indicadores</a>
          <a class="mdl-navigation__link" href="">Crear Indicador</a>
        </div>

        <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/casos">Gesti贸n de Casos</a>
            <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
          </div>
          <!-- Gestion de usuarios de indicadores -->
        <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
          <div id="imin_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/usuarios">Listar</a>
            <a class="mdl-navigation__link" href="/usuarios/new">Crear</a>
          </div>


      <% elsif admin_ind? %>
         <!-- Gestion de indicadores -->
         <span class="mdl-navigation__link menu" href="">
            Indicadores
           <i class="material-icons list">timeline</i>
          </span>
          <div id="indicadores" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Listar</a>
            <a class="mdl-navigation__link" href="">Crear</a>
          </div>
         <!-- Gestion de usuarios de indicadores -->
         <span class="mdl-navigation__link menu" href="">
            Usuarios
           <i class="material-icons list">perm_identity</i>
          </span>
          <div id="ind_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="">Listar</a>
            <a class="mdl-navigation__link" href="">Crear</a>
          </div>
      <% elsif admin_min? %>
        <!-- Menu para Portal de Gestion de Mineria -->


       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/casos">Gesti贸n de Casos</a>
          <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
        </div>
       <!-- Gestion de usuarios de indicadores -->
       <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
        <div id="imin_usuarios" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/usuarios">Listar</a>
          <a class="mdl-navigation__link" href="/usuarios/new">Crear</a>
        </div>

      <% elsif cons_lid? %>
          <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/casos">Gesti贸n de Casos</a>
            <%= link_to "Mis casos", casos_path, :class => "mdl-navigation__link", :car => "1"  %>
          </div>
      <% elsif cons? %>
          <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/casos">Mis Casos</a>
          </div>          
      <% elsif cli? %>
       <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/casos">Mis Casos</a>
            <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
          </div>
      
      <% end %>


    </nav>

    <!-- Alertas -->
    <% if flash[:notice] %>
        <div class="notice mdl-shadow--16dp"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert mdl-shadow--16dp"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert mdl-shadow--16dp"><%= flash[:error] %></div>
    <% end %>
  </div>

  <!-- Icon menus lateral -->

  <div class="android-content mdl-layout__content">
    <a name="top"></a>
  </div>

</div>