<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall is-casting-shadow">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>

      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Inicio</a>
          <% if logged_in? %>
              <% if admin? %>
                  <% if controller.controller_name == "home" %>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#noticias">Noticias</a>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#project">Proyectos</a>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#nosotros">Nosotros</a>
                  <% else %>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/publicaciones">Noticias</a>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/proyectos">Proyectos</a>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home/nosotros">Nosotros</a>
                  <% end %>
                  <a class="mdl-navigation__link link_res" href="/menus/menu_principal"> MI CUENTA</a>
              <% else %>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#noticias">Noticias</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#project">Proyectos</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#nosotros">Nosotros</a>
                <% if admin_min? %>
                  <a class="mdl-navigation__link link_res" href="/menus/menu_min"> MI CUENTA</a>
                  <% elsif admin_ind? %>
                      <a class="mdl-navigation__link link_res" href="/menus/menu_ind"> MI CUENTA</a>
                  <% elsif cons? %>
                      <a class="mdl-navigation__link link_res" href="/menus/menu_consultor"> MI CUENTA</a>
                  <% elsif cons_lid? %>
                      <a class="mdl-navigation__link link_res" href="/menus/menu_consultor_lid"> MI CUENTA</a>
                  <% elsif cli? %>
                      <a class="mdl-navigation__link link_res" href="/menus/menu_cliente"> MI CUENTA</a>
                  <% elsif cli_ind? %>
                      <a class="mdl-navigation__link link_res" href="/menus/menu_cliente_kpi"> MI CUENTA</a>
                <% end %>
              <% end %>
              <%= button_to "Salir",logout_path,:method => "delete", :class => "mdl-navigation__link mdl-typography--text-uppercase btn-sesion link_res" %>
        <% else %>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#noticias">Noticias</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#project">Proyectos</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#nosotros">Nosotros</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase link_res" href="/login">Ingresar</a>
        <% end %>

        </nav>
      </div>
          <span class="android-mobile-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>

    </div>
  </div>

  
  <!-- Menu lateral -->
  <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <%= image_tag "logo_telefonica_blanco.png", class: "android-logo-image" %>
        </span>
    <nav class="mdl-navigation">
      <!-- Opciones Administrador -->
      <% if admin? %>
       <!-- Mi cuenta -->
      <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
      </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/menus/menu_principal">Gestión de  cuenta</a>
      </div>
      <!-- Menu para Portal de Gestion de Indicadores -->
       <span class="mdl-navigation__link menu" href="#">
          Indicadores
         <i class="material-icons list">trending_up</i>
      </span>
      <div id="mineria" class="sub-menu-container">
        <a class="mdl-navigation__link" href="/kpis">Gestión de  Indicadores</a>
        <a class="mdl-navigation__link" href="/kpis/new">Crear Indicador</a>
      </div>
      <!-- Menu para Portal de Gestion de Indicadores -->
      <span class="mdl-navigation__link menu" href="">
        Mineria
       <i class="material-icons list">grid_on</i>
      </span>
      <div id="mineria" class="sub-menu-container">
        <a class="mdl-navigation__link" href="/casos">Gestión de Casos</a>
        <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
        <a class="mdl-navigation__link" href="/estadisticas">Estadisticas</a>
        <a class="mdl-navigation__link" href="/estadisticas?hist=1">Historial</a>
      </div>
      <!-- Gestion de las Noticias -->
      <span class="mdl-navigation__link menu" href="/publicaciones">
        Publicaciones
       <i class="material-icons list">message</i>
      </span>
      <div id="publicaciones" class="sub-menu-container">
        <a class="mdl-navigation__link" href="/publicaciones">Gestión publicaiones</a>
        <a class="mdl-navigation__link" href="/publicaciones/new">Crear</a>
      </div>

      <!-- Gestion de los Proyectos -->
      <span class="mdl-navigation__link menu" href="">
        Proyectos
       <i class="material-icons list">view_quilt</i>
     </span>
      <div id="proyectos" class="sub-menu-container">
        <a class="mdl-navigation__link" href="/proyectos">Gestión de Proyectos</a>
        <a class="mdl-navigation__link" href="/proyectos/new">Crear</a>
      </div>
     <!-- Gestion de usuarios -->
      <span class="mdl-navigation__link menu" href="">
        Usuarios
       <i class="material-icons list">group</i>
      </span>
      <div id="admin_usuarios" class="sub-menu-container">
        <a class="mdl-navigation__link" href="/usuarios">Gestión de usuarios</a>
        <a class="mdl-navigation__link" href="/usuarios/new">Crear</a>
      </div>

      <!-- Gestion de usuarios -->
      <span class="mdl-navigation__link menu" href="">
        Usuarios
       <i class="material-icons list">group</i>
      </span>
        <div id="admin_usuarios" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/usuarios">Gestión de usuarios</a>
          <a class="mdl-navigation__link" href="/usuarios/new">Crear</a>
      </div>

      <% elsif admin_ind? %>
       <!-- Mi cuenta -->
       <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/menus/menu_ind">Gestión de  cuenta</a>
        </div>
         <!-- Gestion de indicadores -->
         <span class="mdl-navigation__link menu" href="">
            Indicadores
            <i class="material-icons list">trending_up</i>
          </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/kpis">Gestión de  Indicadores</a>
            <a class="mdl-navigation__link" href="/kpis/new">Crear Indicador</a>
          </div>
         <!-- Gestion de usuarios de indicadores -->
         <span class="mdl-navigation__link menu" href="">
            Usuarios
           <i class="material-icons list">perm_identity</i>
          </span>
          <div id="admin_usuarios" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/usuarios">Gestión de usuarios</a>
            <a class="mdl-navigation__link" href="/usuarios/new">Crear</a>
          </div>
      <% elsif admin_min? %>
          <!-- Mi cuenta -->
       <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/menus/menu_min">Gestión de  cuenta</a>
        </div>
        <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/casos">Gestión de Casos</a>
          <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
          <a class="mdl-navigation__link" href="/estadisticas">Estadisticas</a>
          <a class="mdl-navigation__link" href="/estadisticas?hist=1">Historial</a>
        </div>
       <!-- Gestion de usuarios de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Usuarios
         <i class="material-icons list">group</i>
        </span>
        <div id="admin_usuarios" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/usuarios">Gestión de usuarios</a>
          <a class="mdl-navigation__link" href="/usuarios/new">Crear</a>
        </div>

      <% elsif cons_lid? %>
       <!-- Mi cuenta -->
       <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/menus/menu_consultor_lid">Gestión de  cuenta</a>
        </div>

          <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/casos">Gestión de Casos</a>
            <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
            <a class="mdl-navigation__link" href="/estadisticas">Estadisticas</a>
            <a class="mdl-navigation__link" href="/estadisticas?hist=1">Historial</a>
          </div>


      <% elsif cons? %>
       <!-- Mi cuenta -->
       <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/menus/menu_consultor">Gestión de  cuenta</a>
        </div>
       <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/casos">Mis Casos</a>
          </div>          
      <% elsif cli? %>
       <!-- Mi cuenta -->
       <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/menus/menu_cliente">Gestión de  cuenta</a>
        </div>
       <!-- Menu para Portal de Gestion de Mineria -->
       <span class="mdl-navigation__link menu" href="">
          Mineria
         <i class="material-icons list">grid_on</i>
        </span>
        <div id="mineria" class="sub-menu-container">
          <a class="mdl-navigation__link" href="/casos">Mis Casos</a>
          <a class="mdl-navigation__link" href="/casos/new">Crear Caso</a>
        </div>

      <% elsif cli_ind? %>
          <!-- Mi cuenta -->
       <span class="mdl-navigation__link menu" href="#">
          Mi Cuenta
         <i class="material-icons list">face</i>
        </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/menus/menu_cliente_kpi">Gestión de  cuenta</a>
          </div>
          <!-- Gestion de indicadores -->
         <span class="mdl-navigation__link menu" href="">
            Indicadores
            <i class="material-icons list">trending_up</i>
          </span>
          <div id="mineria" class="sub-menu-container">
            <a class="mdl-navigation__link" href="/kpis">Gestión de  Indicadores</a>
          </div>
      
      <% end %>


    </nav>

  </div>

  <% if logged_in? %>
      <!-- Icon menus lateral -->
      <div class="android-content mdl-layout__content">
        <a name="top"></a>
      </div>

  <% end %>

  <!-- Alertas -->
    <% if flash[:notice]  %>
        <div class="notice mdl-shadow--16dp"><%= flash[:notice] %>
          <div class="boton-flash">
            <a onclick="ocultar(this)"><i class="material-icons">highlight_off</i></a>
          </div>
        </div>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert mdl-shadow--16dp"><%= flash[:alert] %>
          <div class="boton-flash">
            <a onclick="ocultar(this)"><i class="material-icons">highlight_off</i></a>
          </div>
        </div>
    <% end %>
    <% if flash[:error] %>
        <div class="error mdl-shadow--16dp"><%= flash[:error] %>
          <div class="boton-flash">
            <a onclick="ocultar(this)"><i class="material-icons">highlight_off</i></a>
          </div>
        </div>
    <% end %>

</div>