<!DOCTYPE html>
<html>
<head>
  <title>Portal Mercadeo</title>
  <meta charset="utf-8">
  <meta name="description" content="Portal de indicadores para Telefonica Venezuela.">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "portalBI", :media => "all" %>
  <%= stylesheet_link_tag "material.min.css" %>
  <%= stylesheet_link_tag "icon.css" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "portalBI" %>
  <%= javascript_include_tag "material.min" %>
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script src="/assets/highcharts.js" ></script>
  <script src="/assets/highcharts-3d.js" ></script>
  <script src="/assets/exporting.js"></script>
  <script src="/assets/chartkick.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/header' %>

<%= yield %>


</body>
</html>
