<!DOCTYPE html>
<html>
<head>
  <title>PortalBI</title>
  <meta charset="utf-8">
  <meta name="description" content="Portal de indicadores para Telefonica Venezuela.">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "portalBI", :media => "all" %>
  <%= stylesheet_link_tag "material.min.css" %>
  <%= stylesheet_link_tag "icon.css" %>
  <%= javascript_include_tag "material.min" %>
  <%= javascript_include_tag "portalBI" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Header -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall is-casting-shadow">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>

      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Inicio</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home/noticias">Noticias</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home/nosotros">Nosotros</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home/proyectos">Proyectos</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">Ingresar</a>
        </nav>
      </div>
          <span class="android-mobile-title mdl-layout-title">
            <%= image_tag "logo_telefonica.png", class: "android-logo-image" %>
          </span>

    </div>
  </div>
  <% if flash[:notice]  %>
      <div class="notice mdl-shadow--16dp"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
      <div class="alert mdl-shadow--16dp"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert mdl-shadow--16dp"><%= flash[:error] %></div>
  <% end %>
</div>

<%= yield %>



</body>
</html>
